@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@font-face {
    font-family: 'Noah-Regular';
    src: url('../fonts/Noah-Regular.eot');
    src: local('☺'), url('../fonts/Noah-Regular.woff') format('woff'), url('../fonts/Noah-Regular.ttf') format('truetype'), url('../fonts/Noah-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Noah-Bold';
	src: url('../fonts/Noah-Bold.eot');
	src: local('☺'), url('../fonts/Noah-Bold.woff') format('woff'), url('../fonts/Noah-Bold.ttf') format('truetype'), url('../fonts/Noah-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

