body{
    font-size: 18px;
    line-height: 122%;
    color: $main-color;
    font-family: $main-font;
}
body._lock{
    overflow: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

main{
    flex: 1 1 auto;
}


// container +30px padding
[class*="__container"]{
    max-width: 1100px;
    margin: 0 auto;
}
@media (max-width: 1129.98px ){
    [class*="__container"] {
        max-width: 970px;
   }
}
@media (max-width: 991.98px){
    [class*="__container"] {
        max-width: 750px;
   }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
   }
}

._titleh2{
    font-size: 40px;
    line-height: 110%;
    font-weight: 700;
}
._titleh3{
    font-weight: 700;
    font-size: 26px;
    line-height: 123%;
}
._flex-wrapper{
    display: flex;
    align-items: center;
}
._subscribe-button{
    font-size: 12px;
    line-height: 122%;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 10px 14px 10px 38px;
    background:url("../images/header__mobile-subscribe.svg") 12px 12px no-repeat;
}