body{
    font-size: 18px;
    line-height: 122%;
    color: $main-color;
    font-family: $main-font;
}
body._lock{
    overflow: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}

// container +30px padding
[class*="__container"]{
    max-width: 1130px;
    padding: 0px 15px;
    margin: 0 auto;
}
@media (max-width: 1159.98px ){
    [class*="__container"] {
        max-width: 970px;
   }
}
@media (max-width: 991.98px){
    [class*="__container"] {
        max-width: 750px;
   }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
   }
}

._titleh2{
    font-size: 40px;
    line-height: 110%;
    font-weight: 700;
}
._titleh3{
    font-weight: 700;
    font-size: 26px;
    line-height: 123%;
}
._flex-wrapper{
    display: flex;
    align-items: center;
}